@model IEnumerable<ProyectoRestaurante.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limite_inferior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limite_superior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantSucursales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKTipoRestauranteID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limite_inferior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limite_superior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantSucursales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKTipoRestauranteID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestauranteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestauranteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestauranteID })
        </td>
    </tr>
}

</table>
